@model IEnumerable<Labb4_MVC.Models.BookList>

@{
    ViewData["Title"] = "Index";
}

<h1>Loan list</h1>

<p>
    <a asp-action="Create">Create New loan</a>
</p>
<hr />
<form asp-action="Search">
    <div class="form-group">
        <label for="SearchCustomer" class="control-label">Search customer:</label>
        <input type="text" name="SearchCustomer" placeholder="First name" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
    <a href="@Url.Action("Index")">Clear search</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPastReturningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Returned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPastReturningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Returned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Books.BookDisplay)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookListID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookListID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookListID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


